// =================
// == aquilinetwo ==
// =================
@font-face {
    font-family: 'aquilinetworegular';
    src: url('../fonts/aquilinetwo-webfont.eot');
    src: url('../fonts/aquilinetwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aquilinetwo-webfont.woff2') format('woff2'),
         url('../fonts/aquilinetwo-webfont.woff') format('woff'),
         url('../fonts/aquilinetwo-webfont.ttf') format('truetype'),
         url('../fonts/aquilinetwo-webfont.svg#aquilinetworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font--aquilinetwo: 'aquilinetworegular';
.font--aquilinetwo { font-family: $font--aquilinetwo; }


// =============
// == berylium==
// =============
@font-face {
    font-family: 'beryliumregular';
    src: url('../fonts/berylium-webfont.eot');
    src: url('../fonts/berylium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/berylium-webfont.woff2') format('woff2'),
         url('../fonts/berylium-webfont.woff') format('woff'),
         url('../fonts/berylium-webfont.ttf') format('truetype'),
         url('../fonts/berylium-webfont.svg#beryliumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font--berylium-regular: 'beryliumregular';
.font--berylium-regular { font-family: $font--berylium-regular; }

@font-face {
    font-family: 'beryliumitalic';
    src: url('../fonts/beryliumitalic-webfont.eot');
    src: url('../fonts/beryliumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/beryliumitalic-webfont.woff2') format('woff2'),
         url('../fonts/beryliumitalic-webfont.woff') format('woff'),
         url('../fonts/beryliumitalic-webfont.ttf') format('truetype'),
         url('../fonts/beryliumitalic-webfont.svg#beryliumitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font--berylium-italic: 'beryliumitalic';
.font--berylium-italic { font-family: $font--berylium-italic; }



// ===============
// == dust west ==
// ===============
@font-face {
    font-family: 'dust_westregular';
    src: url('../fonts/Dust West-webfont.eot');
    src: url('../fonts/Dust West-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dust West-webfont.woff2') format('woff2'),
         url('../fonts/Dust West-webfont.woff') format('woff'),
         url('../fonts/Dust West-webfont.ttf') format('truetype'),
         url('../fonts/Dust West-webfont.svg#dust_westregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font--dust-west: 'dust_westregular';
.font--dust-west { font-family: $font--dust-west; }



// ========================
// == rockwell condensed ==
// ========================
@font-face {
    font-family: 'Rockwell-Condensed';
    src: url('../fonts/Rockwell-Condensed.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Rockwell-Condensed.woff') format('woff'),
       url('../fonts/Rockwell-Condensed.ttf')  format('truetype'),
       url('../fonts/Rockwell-Condensed.svg#Rockwell-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font--rockwell-condensed: 'Rockwell-Condensed';
.font--rockwell-condensed { font-family: $font--rockwell-condensed; }
