@import 'fonts';
@import 'card-assets';


.card-input, .card-input::before, .card-input::after,
.card-input *, .card-input *::before, .card-input *::after {
    box-sizing: border-box;
}
.card-input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    background-size: fit;
}
.draggable {
    display: inline-block;
    position: absolute;
    min-width: 80px;
    padding: 20px;
    line-height: 1;
}
.text {
    width: auto !important;
    min-height: 30px;
    font-size: 50px;
    color: white;
    font-family: 'dust_westregular';
}

.text {
    &.-noshadow {
        text-shadow: none !important;
    }
    &.-shadow {
        text-shadow: 1px 1px 12px #777, -1px -1px 12px #777, 1px -1px 12px #777, -1px 1px 12px #777;
    }
}

.image {
    &.-shadow img {
        filter: drop-shadow(5px 5px 5px #777);
        -webkit-filter: drop-shadow(5px 5px 5px #777);
    }
    &.-noshadow img {
        filter: none !important;
        -webkit-filter: none !important;
    }
}

.-bold {
    font-weight: 600;
}

.-italic {
    font-style: italic;
}

.-underline {
    text-decoration: underline;
}
